---
permalink: /
title: Introduction
layout: none   
excerpt: none
---

<html lang="en">
  {% include head.html %}
  <body class="layout-table-of-contents">
    <a class="a-skip-to-main" href="#main">Skip to main content</a>
    {% include site-header.html %}
    <main id="main" role="main">
      <div class="wrapper">
        <h1>Find a Supplier</h1>
        A field with an asterisk (*) before it is a required field.
        <form action="">
          <div class="field">
            <label for="zip">
              <span>Your ZIP code</span>
              <input type="text">
            </label>
          </div>
        </form>
        <h2>Equipment &amp; Supplies</h2>
        <p>Enter your ZIP code above to find suppliers of the following medical equipment and supplies:</p>
        <ul>
          <li>Durable Medical Equipment</li>
          <li>Prostheses & prosthetic devices</li>
          <li>Orthotics</li>
          <li>Supplies</li>        
        </ul>
        <a href="#">Learn more about equipment and supplies</a>
      </div>
    </main>
    {% include site-footer.html %}
  </body>
</html>
