<footer class="site-footer">
  <div class="wrapper">
    <nav>
      <ul>
        <li><a href="#">About Medicare</a></li>
        <li><a href="#">Medicare Glossary</a></li>
      </ul>
      <ul>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Linking policy</a></li>
        <li><a href="#">Using this site</a></li>
        <li><a href="#">Note for suppliers</a></li>
        <li><a href="#">Access the data</a></li>
      </ul>
    </nav>
    <p>If you have additional questions, please call 1-800-Medicare (1-800-633-4227). <abbr title="teletypewriter">TTY</abbr> users should call 1-877-486-2048.</p>
  </div>
</footer>