<header class="site-header">
  <div class="wrapper">
    <h1 class="logo"><a href="{{site.baseurl}}/">Medicare.gov <span class="supplier-directory">Supplier Directory</span></a></h1>
    <h2 class="tagline">The Official <abbr title="United States">U.S.</abbr> Government Site for Medicare</h2>
    <nav>
      <ul>
        <li><a href="{{site.baseurl}}/">Supplier Directory Home</a></li>
        <li><a href="{{site.baseurl}}/glossary">Glossary</a></li>
        <li><a href="{{site.baseurl}}/about">About the directory</a></li>
        <li><a href="{{site.baseurl}}/help">Help</a></li>
      </ul>
    </nav>
  </div>
</header>
